body{
  background-color: #111111;
  color: #eeeeee;
}

#board{
  height: 600px;
  width: 600px;
  background-color: #00ee22;
}

.column{
  float: left;
}

.room{
     background-color: #ee1100;
     float: left;
}

.field{
     height: 20px;
     width: 20px;
     background-color:#000000;
     border: 2px solid #0022ee;
     float: left;

}

.endOfLine{
  float: none;
  height: 20px;
  width: 0px;
  }

 #room1a{
   height: 140px;
   width: 140px;}
 #room1b{
   height: 40px;
   width: 120px;}
#room2a{
  height: 20px;
  width: 80px;}
#room2b{
  height: 140px;
  width: 160px;}
#room2c{
  height: 20px;
  width: 80px;}
#room3a{
  height: 20px;
  width: 140px;}
#room3b{
  height: 140px;
  width: 160px;}
#room4{
  height: 160px;
  width: 100px;}
#room5a{
  height: 160px;
  width: 120px;}
#room5b{
  height: 20px;
  width: 60px;}
#room5b{
  height: 20px;
  width: 60px;}
#room5b{
  height: 20px;
  width: 60px;}
#room5b{
  height: 20px;
  width: 60px;}
#room5b{
  height: 20px;
  width: 60px;}
#room6{
    height: 140px;
    width: 160px;}
#room7a{
    height: 80px;
    width: 120px;}
#room7b{
    height: 120px;
    width: 160px;}
#room8{
    height: 180px;
    width: 140px;}
#room9{
    height: 160px;
    width: 180px;}
#room10{
    height: 180px;
    width: 180px;}
